data/SWIM/swim-extractor/R3.3 Schema/externalInterfaces/tais/TrackAndFlightPlanDataMessage.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	targetNamespace="urn:us:gov:dot:faa:atm:terminal:entities:v3-0:tais:terminalautomationinformation"
	xmlns:tns="urn:us:gov:dot:faa:atm:terminal:entities:v3-0:tais:terminalautomationinformation"
	xmlns:common="urn:us:gov:dot:faa:atm:terminal:entities:v3-0:commontypes"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
	attributeFormDefault="unqualified">

<xs:import
        namespace="urn:us:gov:dot:faa:atm:terminal:entities:v3-0:commontypes"
        schemaLocation="../commontypes/CommonTypes.xsd" />
        
	<xs:element name="TATrackAndFlightPlan">
		<xs:annotation>
			<xs:documentation>A package of track and flight plan messages
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="src" type="xs:string" maxOccurs="1"
					minOccurs="1">
					<xs:annotation>
						<xs:documentation>FAA TRACON identifier of the data source
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="record" type="tns:TrackAndFlightPlanRecordType"
					maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="TrackAndFlightPlanRecordType">
		<xs:annotation>
			<xs:documentation>AIG200 - Track and Flight Plan Record Data
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="track" type="tns:TrackRecordType"
				maxOccurs="1" minOccurs="0" />
			<xs:element name="flightPlan" type="tns:FlightPlanRecordType"
				maxOccurs="1" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TrackRecordType">
		<xs:annotation>
			<xs:documentation>AIG200 - Track Record Data</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="trackNum" type="xs:int" maxOccurs="1"
				minOccurs="1">
				<xs:annotation>
					<xs:documentation>AIG200 field name - System Track Number
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mrtTime" type="xs:dateTime" maxOccurs="1"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>AIG200 field name - mrtTimestamp
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="status" type="tns:TrackStatusType"
				maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>AIG200 field name - Track Status
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="acAddress" type="xs:string" maxOccurs="1"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>AIG200 field name - ICAO Address
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xPos" type="xs:int" maxOccurs="1"
				minOccurs="1">
				<xs:annotation>
					<xs:documentation>AIG200 field name - System plane X smooth
						position
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yPos" type="xs:int" maxOccurs="1"
				minOccurs="1">
				<xs:annotation>
					<xs:documentation>AIG200 field name - System plane Y smooth
						position
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lat" type="common:latitudeType" maxOccurs="1"
				minOccurs="1">
				<xs:annotation>
					<xs:documentation>AIG200 latitude calculated using - System plane X smooth
						position
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lon" type="common:longitudeType" maxOccurs="1"
				minOccurs="1">
				<xs:annotation>
					<xs:documentation>AIG200 longitude calculated using - System plane Y smooth
						position
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="vVert" type="xs:int" maxOccurs="1"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>AIG200 field name - Vertical velocity smooth
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="vx" type="xs:int" maxOccurs="1"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>AIG200 field name - X velocity smooth
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="vy" type="xs:int" maxOccurs="1"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>AIG200 field name - Y velocity smooth
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="frozen" type="xs:short" maxOccurs="1"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>AIG200 field name - Frozen track
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="new" type="xs:short" maxOccurs="1"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>AIG200 field name - New track</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="pseudo" type="xs:short" maxOccurs="1"
				minOccurs="1">
				<xs:annotation>
					<xs:documentation>AIG200 field name - Pseudo track
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="adsb" type="xs:short" maxOccurs="1"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>AIG200 field name - ADS-B contribution
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="reportedBeaconCode" type="xs:string"
				maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>AIG200 field name - Reported beacon code
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="reportedAltitude" type="xs:int"
				maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>AIG200 field name - Reported altitude
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="FlightPlanRecordType">
		<xs:annotation>
			<xs:documentation>AIG200 - Flight Plan Record Data
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="sfpn" type="xs:int" maxOccurs="1"
				minOccurs="1">
				<xs:annotation>
					<xs:documentation>AIG200 field name - System flight plan number
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ocr" type="tns:OwnershipChangeReasonType"
				maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>AIG200 field name - Ownership change reason
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="rnav" type="xs:short"
				maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>AIG200 field name - RNAV indicator
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="scratchPad1" type="xs:string" maxOccurs="1"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>AIG200 field name - Scratchpad 1
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="scratchPad2" type="xs:string" maxOccurs="1"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>AIG200 field name - Scratchpad 2
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cps" type="xs:string"
				maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>AIG200 field name - Controller position symbol
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="runway" type="xs:string" maxOccurs="1"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>AIG200 field name - Runway assigned
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="assignedBeaconCode" type="xs:string"
				maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>AIG200 field name - Assigned beacon code
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="requestedAltitude" type="xs:int"
				maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>AIG200 field name - Requested altitude
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="category" type="tns:categoryType"
				maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>AIG200 field name - Aircraft category
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dbi" type="xs:string"
				maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>AIG200 field name - Data block indicators
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="acid" type="xs:string" maxOccurs="1"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>AIG200 field name - Aircarft ID
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="acType" type="xs:string" maxOccurs="1"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>AIG200 field name - Type of aircraft
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="entryFix" type="xs:string" maxOccurs="1"
				minOccurs="1">
				<xs:annotation>
					<xs:documentation>AIG200 field name - Entry fix</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="exitFix" type="xs:string" maxOccurs="1"
				minOccurs="1">
				<xs:annotation>
					<xs:documentation>AIG200 field name - Exit fix</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="airport" type="xs:string" maxOccurs="1"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>AIG200 field name - Airport</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="flightRules" type="tns:flightRulesType"
				maxOccurs="1" minOccurs="1">
				<xs:annotation>
					<xs:documentation>AIG200 field name - Flight rules
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="type" type="tns:TypeofFlightType"
				maxOccurs="1" minOccurs="1">
				<xs:annotation>
					<xs:documentation>AIG200 field name - Flight type
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ptdTime" type="tns:ptdTimeType" maxOccurs="1"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>AIG200 field name - PTD time</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="status" type="tns:FlightPlanStatusType"
				maxOccurs="1" minOccurs="1">
				<xs:annotation>
					<xs:documentation>AIG200 field name - Flight Plan Status
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="delete" type="xs:short" maxOccurs="1"
				minOccurs="1">
				<xs:annotation>
					<xs:documentation>AIG200 field name - Delete flight plan
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="suspended" type="xs:short" maxOccurs="1"
				minOccurs="1">
				<xs:annotation>
					<xs:documentation>AIG200 field name - Flight plan suspended
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lld" type="tns:LeaderLineDirectionType"
				maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>AIG200 field name - Leader line direction
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ECID" type="xs:string" maxOccurs="1"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>AIG200 field name - Enroute Computer ID (ECID)
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="categoryType">
		<xs:annotation>
			<xs:documentation>Aircraft Category Indicator</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="1" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="flightRulesType">
		<xs:annotation>
			<xs:documentation>Flight Rules</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="V" />
			<xs:enumeration value="P" />
			<xs:enumeration value="E" />
			<xs:enumeration value="IFR" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ptdTimeType">
		<xs:annotation>
			<xs:documentation>PTD Time</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{4,4}" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="TrackStatusType">
		<xs:annotation>
			<xs:documentation>Track Status</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="active" />
			<xs:enumeration value="coasting" />
			<xs:enumeration value="drop" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="OwnershipChangeReasonType">
		<xs:annotation>
			<xs:documentation>Ownership Change Reason</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="no change" />
			<xs:enumeration value="consolidation" />
			<xs:enumeration value="normal handoff" />
			<xs:enumeration value="directed handoff" />
			<xs:enumeration value="intrafacility handoff" />
			<xs:enumeration value="manual" />
			<xs:enumeration value="automatic" />
			<xs:enumeration value="pending" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="TypeofFlightType">
		<xs:annotation>
			<xs:documentation>Flight Type</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="A" />
			<xs:enumeration value="P" />
			<xs:enumeration value="D" />
			<xs:enumeration value="E" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="FlightPlanStatusType">
		<xs:annotation>
			<xs:documentation>Flight Plan Status</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="pending" />
			<xs:enumeration value="active" />
			<xs:enumeration value="terminated" />
			<xs:enumeration value="passive" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="LeaderLineDirectionType">
		<xs:annotation>
			<xs:documentation>Leader Line Direction</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="undefined" />
			<xs:enumeration value="NW" />
			<xs:enumeration value="N" />
			<xs:enumeration value="NE" />
			<xs:enumeration value="W" />
			<xs:enumeration value="E" />
			<xs:enumeration value="SW" />
			<xs:enumeration value="S" />
			<xs:enumeration value="SE" />
		</xs:restriction>
	</xs:simpleType>

</xs:schema>