data/SWIM/swim-extractor/schemas/extensions/nas/NasEnRouteData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema
   attributeFormDefault="unqualified"
   elementFormDefault="unqualified"
   targetNamespace="http://www.faa.aero/nas/3.0"
   version="3.00"
   xmlns="http://www.w3.org/2001/XMLSchema"
   xmlns:fb="http://www.fixm.aero/base/3.0"
   xmlns:fx="http://www.fixm.aero/flight/3.0"
   xmlns:nas="http://www.faa.aero/nas/3.0"
   xmlns:xs="http://www.w3.org/2001/XMLSchema">
   
   <annotation>
      <documentation>
         Copyright (c) 2014 US Federal Aviation Administration (FAA) 
         =========================================== 
         All rights reserved. 
          
         Redistribution and use in source and binary forms, with or without modification, 
         are permitted provided that the following conditions are met: 
         * Redistributions of source code must retain the above copyright notice, this list 
         of conditions and the disclaimer. 
         * Redistributions in binary form must reproduce the above copyright notice, this 
         list of conditions and the disclaimer in the documentation and/or other materials 
         provided with the distribution. 
         * The name of US FAA or the names of its contributors may not be used to endorse 
         or promote products derived from this specification without specific prior written 
         permission. 
          
         DISCLAIMER 
          
         THIS SPECIFICATION IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" 
         AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED 
         WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. 
         IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, 
         INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED 
         TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR 
         BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN 
         CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN 
         ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH 
         DAMAGE. 
          
         ========================================== 
         Editorial note: this license is an instance of the BSD license template as provided 
         by the Open Source Initiative: 
         http://www.opensource.org/licenses/bsd-license.php 
          
         The authoritative reference for FIXM is www.FIXM.aero. 
          
         Details on the US FAA: http://www.faa.gov/ 
      </documentation>
   </annotation>
   <include schemaLocation="./NasTmi.xsd"/>
   <import namespace="http://www.fixm.aero/base/3.0" schemaLocation="./../../core/base/Base.xsd"/>
   <import namespace="http://www.fixm.aero/flight/3.0" schemaLocation="./../../core/flight/FlightObject.xsd"/>
   <annotation>
      <documentation>
         Contains definitions to NAS specific extension of FIXM Core En Route concepts. 
      </documentation>
   </annotation>

   <complexType name="AirspaceAcceptableSlotSubstitutionType">
      <annotation>
         <documentation>
            .Runway Arrival Time - Slot Credit Substitution Earliest Acceptable: The earliest 
            time at which the Airspace user will accept a slot in a Traffic Management Initiative 
            (TMI) Ground Delay Program (GDP) in return for a yielded slot. 
            .Runway Arrival Time - Slot Credit Substitution Latest Acceptable: The latest time 
            at which the Airspace user will accept a slot in a Traffic Management Initiative 
            (TMI) Ground Delay Program (GDP), in return for a yielded slot. 
         </documentation>
      </annotation>
      <sequence>
         <element name="earliest" type="fb:ReportedTimeType" minOccurs="0" maxOccurs="1" > 
            <annotation>
               <documentation>
                  .Airspace Entry Time - Slot Credit Substitution Latest Acceptable: The latest time 
                  at which the Airspace user will accept a slot in a Traffic Management Initiative 
                  (TMI) Airspace Flow Program (AFP), in return for a yielded slot. 
                  .Airspace Entry Time - Slot Credit Substitution Earliest Acceptable: The earliest 
                  time at which the Airspace user will accept a slot in a Traffic Management Initiative 
                  (TMI) Airspace Flow Program (AFP) in return for a yielded slot. 
               </documentation>
            </annotation>
         </element>
         <element name="latest" type="fb:ReportedTimeType" minOccurs="0" maxOccurs="1" > 
            <annotation>
               <documentation>
                  .Airspace Entry Time - Slot Credit Substitution Latest Acceptable: The latest time 
                  at which the Airspace user will accept a slot in a Traffic Management Initiative 
                  (TMI) Airspace Flow Program (AFP), in return for a yielded slot. 
                  .Airspace Entry Time - Slot Credit Substitution Earliest Acceptable: The earliest 
                  time at which the Airspace user will accept a slot in a Traffic Management Initiative 
                  (TMI) Airspace Flow Program (AFP) in return for a yielded slot. 
               </documentation>
            </annotation>
         </element>
      </sequence>
   </complexType>
   <element name="AirspaceAcceptableSlotSubstitution" type="nas:AirspaceAcceptableSlotSubstitutionType" /> 

   <complexType name="AirspaceEntryTimeType">
      <annotation>
         <documentation>
            Container for : 
            Airspace Entry Time - Earliest 
            Airspace Entry Time - Initial 
            Airspace Entry Time - Original 
            Airspace Entry Time - Traffic Flow Management System Estimated 
         </documentation>
      </annotation>
      <sequence>
         <element name="earliest" type="fb:ReportedTimeType" minOccurs="0" maxOccurs="1" > 
            <annotation>
               <documentation>
                  .Airspace Entry Time - Earliest: The earliest time the flight could enter the constrained 
                  airspace. 
               </documentation>
            </annotation>
         </element>
         <element name="initial" type="fb:ReportedTimeType" minOccurs="0" maxOccurs="1" > 
            <annotation>
               <documentation>
                  .Airspace Entry Time - Initial: The date and time at which a flight was originally 
                  planning to enter into the airspace. 
               </documentation>
            </annotation>
         </element>
         <element name="original" type="fb:ReportedTimeType" minOccurs="0" maxOccurs="1" > 
            <annotation>
               <documentation>
                  .Airspace Entry Time - Original: The last Airspace Entry Time - Traffic Flow Management 
                  System Estimated modeled by the Traffic Flow Management System (TFMS) before either 
                  a Traffic Management Initiative is issued, or the flight departs, or the flight is 
                   time-out  delayed by TFMS. 
               </documentation>
            </annotation>
         </element>
         <element name="slotSubstitution" type="nas:AirspaceAcceptableSlotSubstitutionType" minOccurs="0" maxOccurs="1" > 
            <annotation>
               <documentation>
                  .Airspace Entry Time - Slot Credit Substitution Latest Acceptable: The latest time 
                  at which the Airspace user will accept a slot in a Traffic Management Initiative 
                  (TMI) Airspace Flow Program (AFP), in return for a yielded slot. 
                  .Runway Arrival Time - Slot Credit Substitution Earliest Acceptable: The earliest 
                  time at which the Airspace user will accept a slot in a Traffic Management Initiative 
                  (TMI) Ground Delay Program (GDP) in return for a yielded slot. 
                  .Runway Arrival Time - Slot Credit Substitution Latest Acceptable: The latest time 
                  at which the Airspace user will accept a slot in a Traffic Management Initiative 
                  (TMI) Ground Delay Program (GDP), in return for a yielded slot. 
                  .Airspace Entry Time - Slot Credit Substitution Earliest Acceptable: The earliest 
                  time at which the Airspace user will accept a slot in a Traffic Management Initiative 
                  (TMI) Airspace Flow Program (AFP) in return for a yielded slot. 
               </documentation>
            </annotation>
         </element>
         <element name="tfmsEstimated" type="fb:ReportedTimeType" minOccurs="0" maxOccurs="1" > 
            <annotation>
               <documentation>
                  .Airspace Exit Time - Traffic Flow Management System Estimated: The estimated airspace 
                  exit time considering all data sources, as determined by Traffic Flow Management 
                  System (TFMS). 
                  .Airspace Entry Time - Traffic Flow Management System Estimated: The estimated airspace 
                  entry time considering all data sources, as determined by Traffic Flow Management 
                  System (TFMS). 
               </documentation>
            </annotation>
         </element>
      </sequence>
   </complexType>
   <element name="AirspaceEntryTime" type="nas:AirspaceEntryTimeType" /> 

   <complexType name="AirspaceExitTimeType">
      <annotation>
         <documentation>
            Container for 
            Airspace Exit Time - Traffic Flow Management System Estimated 
         </documentation>
      </annotation>
      <sequence>
         <element name="tfmsEstimated" type="fb:ReportedTimeType" minOccurs="0" maxOccurs="1" > 
            <annotation>
               <documentation>
                  .Airspace Exit Time - Traffic Flow Management System Estimated: The estimated airspace 
                  exit time considering all data sources, as determined by Traffic Flow Management 
                  System (TFMS). 
                  .Airspace Entry Time - Traffic Flow Management System Estimated: The estimated airspace 
                  entry time considering all data sources, as determined by Traffic Flow Management 
                  System (TFMS). 
               </documentation>
            </annotation>
         </element>
      </sequence>
   </complexType>
   <element name="AirspaceExitTime" type="nas:AirspaceExitTimeType" /> 

   <complexType name="NasAirspaceConstraintType">
      <annotation>
         <documentation>
            Container for Airspace Slot Handling. 
         </documentation>
      </annotation>
      <complexContent>
         <extension base="fx:AirspaceConstraintType">
            <sequence>
               <element name="entryTime" type="nas:AirspaceEntryTimeType" minOccurs="0" maxOccurs="1" > 
                  <annotation>
                     <documentation>
                        Container for : 
                        Airspace Entry Time - Earliest 
                        Airspace Entry Time - Initial 
                        Airspace Entry Time - Original 
                        Airspace Entry Time - Traffic Flow Management System Estimated 
                     </documentation>
                  </annotation>
               </element>
               <element name="exitTime" type="nas:AirspaceExitTimeType" minOccurs="0" maxOccurs="1" > 
                  <annotation>
                     <documentation>
                        .Airspace Exit Time - Traffic Flow Management System Estimated: The estimated airspace 
                        exit time considering all data sources, as determined by Traffic Flow Management 
                        System (TFMS). 
                        .Airspace Entry Time - Traffic Flow Management System Estimated: The estimated airspace 
                        entry time considering all data sources, as determined by Traffic Flow Management 
                        System (TFMS). 
                     </documentation>
                  </annotation>
               </element>
            </sequence>
            <attribute name="arrivalSlot" type="fb:FreeTextType" use="optional" > 
               <annotation>
                  <documentation>
                     .Arrival Slot - NAS: A time slot at an airport or airspace entry point that identifies 
                     a point in time when an aircraft is constrained to arrive at the airport or airspace 
                     entry point. 
                  </documentation>
               </annotation>
            </attribute>
            <attribute name="holdStatus" type="nas:SlotHoldStatusType" use="optional" > 
               <annotation>
                  <documentation>
                     .Slot Hold Status: If a flight is controlled and cancelled [e.g., has a Controlled 
                     Time of Departure (CTD), Controlled Time of Arrival (CTA), and Arrival Slot (ASLOT)], 
                     the slot hold status indicates whether the slot associated with this flight is being 
                     held, or would be held, by the Airspace User for the next full compression. 
                  </documentation>
               </annotation>
            </attribute>
            <attribute name="yieldedSlot" type="nas:SlotYieldedIndicatorType" use="optional" > 
               <annotation>
                  <documentation>
                     .Yielded Slot Indicator: Indicates the slot currently specified in   Runway Arrival 
                     Time - Controlled   is to be given up by the Airspace User in return for a later 
                     slot. 
                  </documentation>
               </annotation>
            </attribute>
         </extension>
      </complexContent>
   </complexType>
   <element name="NasAirspaceConstraint" type="nas:NasAirspaceConstraintType" substitutionGroup="fx:AirspaceConstraint" /> 

   <complexType name="NasClearedFlightInformationType">
      <annotation>
         <documentation>
            Extends the core ClearedFlightInformation to hold additional clearance information. 
            
         </documentation>
      </annotation>
      <complexContent>
         <extension base="fx:ClearedFlightInformationType">
            <attribute name="clearanceHeading" type="fb:FreeTextType" use="optional" > 
               <annotation>
                  <documentation>
                     .En Route Clearance Heading: Contains the En Route Controller Clearance heading, 
                     as entered by the controller in the fourth line of the Full Data Block. 
                  </documentation>
               </annotation>
            </attribute>
            <attribute name="clearanceSpeed" type="fb:FreeTextType" use="optional" > 
               <annotation>
                  <documentation>
                     .En Route Clearance Speed: This data element contains the En Route Controller Clearance 
                     speed, as entered by the controller in the fourth line of the Full Data Block. 
                  </documentation>
               </annotation>
            </attribute>
            <attribute name="clearanceText" type="fb:FreeTextType" use="optional" > 
               <annotation>
                  <documentation>
                     .En Route Clearance Text: This data element contains free-form text entered by the 
                     En Route Controller, to be associated with the Clearance in the fourth line of the 
                     Full Data Block. 
                  </documentation>
               </annotation>
            </attribute>
         </extension>
      </complexContent>
   </complexType>
   <element name="NasClearedFlightInformation" type="nas:NasClearedFlightInformationType" substitutionGroup="fx:ClearedFlightInformation" /> 

   <complexType name="NasEnRouteType">
      <annotation>
         <documentation>
            Extension of core EnRoute to include additional NAS hold information. 
         </documentation>
      </annotation>
      <complexContent>
         <extension base="fx:EnRouteType">
            <sequence>
               <element name="expectedFurtherClearanceTime" type="fb:ReportedTimeType" minOccurs="0" maxOccurs="1" > 
                  <annotation>
                     <documentation>
                        .Hold Data Expect Further Clearance Time: The time the flight can expect further 
                        clearance at the specified hold fix. 
                     </documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <element name="NasEnRoute" type="nas:NasEnRouteType" substitutionGroup="fb:Feature" /> 
</schema>
