data/SWIM/swim-extractor/schemas/extensions/nas/NasFlightData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema
   attributeFormDefault="unqualified"
   elementFormDefault="unqualified"
   targetNamespace="http://www.faa.aero/nas/3.0"
   version="3.00"
   xmlns="http://www.w3.org/2001/XMLSchema"
   xmlns:fb="http://www.fixm.aero/base/3.0"
   xmlns:ff="http://www.fixm.aero/foundation/3.0"
   xmlns:fx="http://www.fixm.aero/flight/3.0"
   xmlns:nas="http://www.faa.aero/nas/3.0"
   xmlns:xs="http://www.w3.org/2001/XMLSchema">
   
   <annotation>
      <documentation>
         Copyright (c) 2014 US Federal Aviation Administration (FAA) 
         =========================================== 
         All rights reserved. 
          
         Redistribution and use in source and binary forms, with or without modification, 
         are permitted provided that the following conditions are met: 
         * Redistributions of source code must retain the above copyright notice, this list 
         of conditions and the disclaimer. 
         * Redistributions in binary form must reproduce the above copyright notice, this 
         list of conditions and the disclaimer in the documentation and/or other materials 
         provided with the distribution. 
         * The name of US FAA or the names of its contributors may not be used to endorse 
         or promote products derived from this specification without specific prior written 
         permission. 
          
         DISCLAIMER 
          
         THIS SPECIFICATION IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" 
         AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED 
         WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. 
         IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, 
         INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED 
         TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR 
         BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN 
         CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN 
         ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH 
         DAMAGE. 
          
         ========================================== 
         Editorial note: this license is an instance of the BSD license template as provided 
         by the Open Source Initiative: 
         http://www.opensource.org/licenses/bsd-license.php 
          
         The authoritative reference for FIXM is www.FIXM.aero. 
          
         Details on the US FAA: http://www.faa.gov/ 
      </documentation>
   </annotation>
   <include schemaLocation="./NasAltitude.xsd"/>
   <include schemaLocation="./NasFlightIntent.xsd"/>
   <include schemaLocation="./NasFlightPlan.xsd"/>
   <include schemaLocation="./NasTmi.xsd"/>
   <import namespace="http://www.fixm.aero/base/3.0" schemaLocation="./../../core/base/Base.xsd"/>
   <import namespace="http://www.fixm.aero/flight/3.0" schemaLocation="./../../core/flight/FlightObject.xsd"/>
   <import namespace="http://www.fixm.aero/foundation/3.0" schemaLocation="./../../core/foundation/Foundation.xsd"/>
   <annotation>
      <documentation>
         Contains the NAS Specific Flight definitions that extend the FIXM Core Flight. 
      </documentation>
   </annotation>

   <simpleType name="ClassifiedSpeedIndicatorType">
      <annotation>
         <documentation>
            .Classified Speed Indicator: The indication that the speed for this flight is classified 
            and is not to be recorded. 
         </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="CLASSIFIED"/>
      </restriction>
   </simpleType>

   <simpleType name="CoordinationTimeTypeType">
      <annotation>
         <documentation>
            .Coordination Time Type: The indicator for the type of   Coordination Time  . 
         </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="P">
            <annotation>
               <documentation>
                  Proposed flight plan preparing for departure 
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="D">
            <annotation>
               <documentation>
                  Flight plan has departed from the departure airport 
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="E">
            <annotation>
               <documentation>
                  Active flight plan, aircraft is flying. 
               </documentation>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>

   <complexType name="NasAirspeedChoiceType">
      <annotation>
         <documentation>
            A NAS extension to add an additional optional value to element Airspeed, 
            In the NAS this element is: Aircraft Speed/Speed Classified.
            The value is "SC". Used when the speed is a classifed value.
         </documentation>
      </annotation>
      <choice>
         <element name="classified" type="nas:ClassifiedSpeedIndicatorType" minOccurs="0" maxOccurs="1" > 
            <annotation>
               <documentation>
                  Container for the Classified Speed Indicator. 
                  .Classified Speed Indicator: The indication that the speed for this flight is classified 
                  and is not to be recorded. 
               </documentation>
            </annotation>
         </element>
         <element name="nasAirspeed" type="ff:TrueAirspeedOrMachType" minOccurs="0" maxOccurs="1" > 
            <annotation>
               <documentation>
                  Represents the aircraft speed expressed in either true airspeed or mach. 
               </documentation>
            </annotation>
         </element>
      </choice>
   </complexType>
   <element name="NasAirspeedChoice" type="nas:NasAirspeedChoiceType" /> 

   <complexType name="NasCoordinationType">
      <annotation>
         <documentation>
            NAS extension to boundary crossing information: includes special handling for ccoordination 
            time type. 
            Coordination Time and Coordination Fix are handled by crossingPoint and crossingTime. 
            
         </documentation>
      </annotation>
      <sequence>
         <element name="coordinationFix" type="fb:SignificantPointType" minOccurs="0" maxOccurs="1" > 
            <annotation>
               <documentation>
                  .Coordination Fix: The fix to be used in conjunction with the Coordination Time so 
                  processing for this flight (and its trajectory) can be synchronized for the next 
                  sector/facility.  It   coordinates   the flight plan with the aircraft position. 
                  
               </documentation>
            </annotation>
         </element>
      </sequence>
      <attribute name="coordinationTime" type="ff:TimeType" use="optional" > 
         <annotation>
            <documentation>
               .Coordination Time: The time to be used in conjunction with the Coordination Fix 
               so processing for this flight (and its trajectory) can be synchronized for the next 
               sector/facility.  It   coordinates   the flight plan with the aircraft position. 
               
            </documentation>
         </annotation>
      </attribute>
      <attribute name="coordinationTimeHandling" type="nas:CoordinationTimeTypeType" use="optional" > 
         <annotation>
            <documentation>
               Container for Coordination Time Type. 
               .Coordination Time Type: The indicator for the type of   Coordination Time  . 
            </documentation>
         </annotation>
      </attribute>
      <attribute name="delayTimeToAbsorb" type="ff:DurationType" use="optional" > 
         <annotation>
            <documentation>
               .Delay Time to Absorb: Indicates the amount of time that needs to be absorbed during 
               the flight. It is corrective action for meeting the goal of Estimated Departure Clearance 
               Time (EDCT), when flight is already active and needs to arrive at the destination 
               later than originally planned. 
            </documentation>
         </annotation>
      </attribute>
   </complexType>
   <element name="NasCoordination" type="nas:NasCoordinationType" /> 

   <complexType name="NasFlightType">
      <annotation>
         <documentation>
            Extends core Flight object with NAS extra data 
         </documentation>
      </annotation>
      <complexContent>
         <extension base="fx:FlightType">
            <sequence>
               <element name="assignedAltitude" type="nas:NasAltitudeType" minOccurs="0" maxOccurs="1" > 
                  <annotation>
                     <documentation>
                        .Assigned Altitude: The cruise altitude assigned to the active flight. 
                     </documentation>
                  </annotation>
               </element>
               <element name="coordination" type="nas:NasCoordinationType" minOccurs="0" maxOccurs="1" > 
                  <annotation>
                     <documentation>
                        NAS extension to boundary crossing information: includes special handling for ccoordination 
                        time type. 
                     </documentation>
                  </annotation>
               </element>
               <element name="flightIdentificationPrevious" type="nas:NasFlightIdentificationType" minOccurs="0" maxOccurs="1" > 
                  <annotation>
                     <documentation>
                        The aircraft identification prior to a modification. 
                     </documentation>
                  </annotation>
               </element>
               <element name="flightIntent" type="nas:FlightIntentType" minOccurs="0" maxOccurs="1" > 
                  <annotation>
                     <documentation>
                        .Flight Intent: A container for the list of intent values provided by the flight 
                        operator that designate the intentions of a flight prior to departure from an aerodrome 
                        or after arrival at an aerodrome. 
                     </documentation>
                  </annotation>
               </element>
               <element name="flightPlan" type="nas:NasFlightPlanType" minOccurs="0" maxOccurs="1" > 
                  <annotation>
                     <documentation>
                        NAS Flight Plan Information 
                     </documentation>
                  </annotation>
               </element>
               <element name="interimAltitude" type="nas:SimpleAltitudeType" minOccurs="0" maxOccurs="1" nillable="true" > 
                  <annotation>
                     <documentation>
                        .Interim Altitude Information: The altitude an aircraft is cleared to maintain different 
                        from that in the flight plan. 
                     </documentation>
                  </annotation>
               </element>
               <element name="nasTmi" type="nas:NasTmiType" minOccurs="0" maxOccurs="1" > 
                  <annotation>
                     <documentation>
                        NAS Traffic Management Initiative Information 
                     </documentation>
                  </annotation>
               </element>
               <element name="requestedAirspeed" type="nas:NasAirspeedChoiceType" minOccurs="0" maxOccurs="1" > 
                  <annotation>
                     <documentation>
                        .Classified Speed Indicator: The indication that the speed for this flight is classified 
                        and is not to be recorded. 
                     </documentation>
                  </annotation>
               </element>
               <element name="requestedAltitude" type="nas:NasAltitudeType" minOccurs="0" maxOccurs="1" > 
                  <annotation>
                     <documentation>
                        .Requested Altitude: The cruise altitude filed or requested for the proposed flight. 
                        
                     </documentation>
                  </annotation>
               </element>
            </sequence>
            <attribute name="currentRVSMCompliance" type="nas:RVSMFlightIndicatorType" use="optional" > 
               <annotation>
                  <documentation>
                     .Current RVSM Flight Compliance: Indicates if the flight is currently Reduced Vertical 
                     Separation Minimum (RVSM) compliant in RVSM airspace, as determined by the Traffic 
                     Flow Management System. 
                  </documentation>
               </annotation>
            </attribute>
            <attribute name="futureRVSMCompliance" type="nas:RVSMFlightIndicatorType" use="optional" > 
               <annotation>
                  <documentation>
                     .Future RVSM Flight Compliance: Indicates if the flight will beReduced Vertical Separation 
                     Minimum (RVSM) compliant when it reaches the RVSM airspace as determined by the Traffic 
                     Flow Management System (TFMS). 
                  </documentation>
               </annotation>
            </attribute>
            <attribute name="tfmsFlightClass" type="nas:NasFlightClassType" use="optional" > 
               <annotation>
                  <documentation>
                     .Flight Class: Denotes the flight class of the aircraft which is determined by the 
                     aircraft call sign that is in the Aircraft Situation Display to Industry (ASDI) feed. 
                     
                  </documentation>
               </annotation>
            </attribute>
         </extension>
      </complexContent>
   </complexType>
   <element name="NasFlight" type="nas:NasFlightType" substitutionGroup="fb:Feature" /> 

   <simpleType name="NasFlightClassType">
      <annotation>
         <documentation>
            .Flight Class: Denotes the flight class of the aircraft which is determined by the 
            aircraft call sign that is in the Aircraft Situation Display to Industry (ASDI) feed. 
            
         </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="GA">
            <annotation>
               <documentation>
                  General Aviation 
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="LIFEGUARD">
            <annotation>
               <documentation>
                  air ambulance services or other flights involving the safety of life 
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="TAXI">
            <annotation>
               <documentation>
                  taxi flights 
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="CANADIAN_GA">
            <annotation>
               <documentation>
                  Canadian General Aviation 
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="MILITARY">
            <annotation>
               <documentation>
                  Military flight 
               </documentation>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>

   <complexType name="NasFlightIdentificationType">
      <annotation>
         <documentation>
            Extends aircraft identity to include computer id and SSPID. 
            .Site Specific Plan Identifier: Site Specific Plan Identifier is a unique ID for 
            each system plan in each ERAM facility. 
            .Computer ID: A unique identification assigned by ERAM to each flight plan. 
         </documentation>
      </annotation>
      <complexContent>
         <extension base="fx:FlightIdentificationType">
            <attribute name="computerId" type="fb:FreeTextType" use="optional" > 
               <annotation>
                  <documentation>
                     .Computer ID: A unique identification assigned by ERAM to each flight plan. 
                  </documentation>
               </annotation>
            </attribute>
            <attribute name="siteSpecificPlanId" type="fb:CountType" use="optional" > 
               <annotation>
                  <documentation>
                     .Site Specific Plan Identifier: Site Specific Plan Identifier is a unique ID for 
                     each system plan in each ERAM facility. 
                  </documentation>
               </annotation>
            </attribute>
         </extension>
      </complexContent>
   </complexType>
   <element name="NasFlightIdentification" type="nas:NasFlightIdentificationType" substitutionGroup="fx:FlightIdentification" /> 

   <complexType name="NasSupplementalDataType">
      <annotation>
         <documentation>
            Container for additional data specific to nas such as additional flight information. 
            
         </documentation>
      </annotation>
      <complexContent>
         <extension base="fx:SupplementalDataType">
            <sequence>
               <element name="additionalFlightInformation" type="fb:NameValueListType" minOccurs="0" maxOccurs="1" > 
                  <annotation>
                     <documentation>
                        Additional information about a flight expressed in key-value pairs. 
                        .Other Flight Information: This element consists of an identification tag/indicator 
                        and the relevant value. This information is   extra   information about the flight 
                        that does not fall into some other predefined category. 
                     </documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <element name="NasSupplementalData" type="nas:NasSupplementalDataType" substitutionGroup="fx:SupplementalData" /> 

   <simpleType name="RVSMFlightIndicatorType">
      <annotation>
         <documentation>
            Current and Future RVSM Flight Compliance 
            .Future RVSM Flight Compliance: Indicates if the flight will beReduced Vertical Separation 
            Minimum (RVSM) compliant when it reaches the RVSM airspace as determined by the Traffic 
            Flow Management System (TFMS). 
            .Current RVSM Flight Compliance: Indicates if the flight is currently Reduced Vertical 
            Separation Minimum (RVSM) compliant in RVSM airspace, as determined by the Traffic 
            Flow Management System. 
         </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="COMPLIANT">
            <annotation>
               <documentation>
                  Indicates that the Flight is RVSM compliant. 
               </documentation>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
</schema>
